<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- <link rel="preload" href="fonts/open-sans.woff2" as="font" type="font/woff2" crossorigin> -->
		<link rel="stylesheet" href="assets/css/style.css">
		<title>Игра</title>
	</head>
	<body>
		<div class="container">
			<div class="header game-header">
				<img src="assets/img/logo.png" height="40px" alt="Логотип ИВТ">
				<img id="logo2" src="assets/img/logo2.png" height="35px" alt="Логотип ЯрГУ">
				<p>ЯРОСЛАВСКИЙ ГОСУДАРСТВЕННЫЙ<br>УНИВЕРСИТЕТ ИМ. П. Г. ДЕМИДОВА</p>
				<div class="login">
					<img src="assets/img/avatar.png" height="30px" width="30px" alt="Аватар ИВТ">
					<span id="login">Гость</span>
				</div>
			</div>
		</div>
		<div class="game">
		</div>
		<div class="container">
			<div class="footer game-footer">
				<p id="telephone">+7 (4852) 78-85-86</p>
				<a href="#" id="email">icsdep@uniyar.ac.ru</a>
				<p id="address">ул. Союзная, 144, 7-й корпус</p>
				<img src="assets/img/vk.png" width="25px" height="15px" alt="Логотип ВК">
				<a href="#">Абитуриентам</a>
				<a href="#">Профбюро</a>
				<a href="#">Студенческое научное общество</a>
			</div>
		</div>
		
		<script src="assets/js/script.js"></script>
	</body>
</html>