<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- <link rel="preload" href="fonts/open-sans.woff2" as="font" type="font/woff2" crossorigin> -->
		<link rel="stylesheet" href="assets/css/style.css">
		<title>Игра</title>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<img src="assets/img/logo.png" height="70px" alt="Логотип ИВТ">
				<img id="logo2" src="assets/img/logo2.png" alt="Логотип ЯрГУ">
				<p>ЯРОСЛАВСКИЙ ГОСУДАРСТВЕННЫЙ<br>УНИВЕРСИТЕТ ИМ. П. Г. ДЕМИДОВА</p>
				<div class="login">
					<img src="assets/img/avatar.png" height="46px" width="46px" alt="Аватар ИВТ">
					<span id="login">Гость</span>
				</div>
			</div>
			<div class="content">
				<div class="form">
					<h1>НАЗВАНИЕ ИГРЫ</h1>
					<div class="login-buttons">
						<a class="active" id="login" href="#">Вход</a>
						<a id="register" href="register.html">Регистрация</a>
					</div>
					<form action="">
						<input type="text" name="login" placeholder="Логин">
						<input type="password" name="password" placeholder="Пароль">
						<input id="login-button" type="submit" value="Войти">
					</form>
					<div class="form-footer">
						<a href="#">Забыли пароль?</a>
						<a href="#">Условия конфиденциальности</a>
					</div>
				</div>
				<div class="description">
					<p>Добро пожаловать на факультет Информационных технологий университета ЯрГУ! В этой игре вы сможете узнать, какие знания и навыки нужны, чтобы стать успешным студентом нашего факультета.</p>

					<p>Вы начнете свой путь с прохождения тестов, которые помогут вам определить свой уровень знаний. Затем вы познакомитесь с курсами и предметами, которые вы будете изучать, а также какие проекты и исследования проводятся на факультете.</p>

					<p>В ходе игры вы сможете узнать о том, какие навыки нужны для успешной работы в IT-сфере, какие языки программирования и технологии используются в нашей работе. Вы также познакомитесь с различными профессиями, которые можно выбрать после обучения на факультете ИВТ.</p>

					<p>По завершению игры вы узнаете свой рейтинг среди других игроков, а также получите рекомендации по тому, что вам нужно еще изучить и какие навыки подтянуть, чтобы стать успешным студентом нашего факультета.</p>

					<p>Не упустите шанс познакомиться с факультетом ИВТ университета ЯрГУ и узнать, какие возможности открываются перед вами после обучения на нашем факультете!</p>
				</div>
			</div>
			<div class="footer">
				<p id="telephone">+7 (4852) 78-85-86</p>
				<a href="#" id="email">icsdep@uniyar.ac.ru</a>
				<p id="address">ул. Союзная, 144, 7-й корпус</p>

				<img src="assets/img/vk.png" width="25px" height="15px" alt="Логотип ВК">
				<a href="#">Абитуриентам</a>
				<a href="#">Профбюро</a>
				<a href="#">Студенческое научное общество</a>
			</div>
		</div>
		
	</body>
</html>