@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes shows {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

html {
	height: 100%;
}

body {
	font-family: 'Roboto', 'Arial', sans-serif;
	color: white;
	margin: 0;
	padding: 0;
	background-size: 250% 250%;
	background-image: -o-linear-gradient(135deg, #167CF2 0%, #1A3EDE 100%);
	background-image: linear-gradient(-45deg, #167CF2 0%, #1A3EDE 100%);
	-webkit-animation: AnimateBG 10s ease infinite;
    animation: AnimateBG 10s ease infinite;
}

a {
	color: rgba(255, 255, 255, 0.7);
	text-decoration: underline;
	font-weight: 500;
	-webkit-text-decoration-skip-ink: none;
	        text-decoration-skip-ink: none;
}

a:hover {
	color: white;
}

.container {
	padding: 0 50px;
}

.header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100px;
	margin: 0 auto;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.header>img {
	margin: auto 0;
}

#logo2 {
	margin-left: 25px;
}

.header>p {
	font-weight: 500;
	font-size: 10pt;
	margin: auto 0;
	margin-left: 5px;
}

.login {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: auto 0 auto auto;
}

.login>#login {
	font-weight: 700;
	font-size: 20pt;
	margin: auto 0;
	margin-left: 10px;
}

.content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: calc(100vh - 262px);
	width: 80%;
	margin: 0 auto;
	max-width: 900px;
	min-width: 660px;
	padding: 30px 0;
}

.form, .description {
	width: 50%;
	margin: auto 0;
}

.form {
	padding-right: 30px;
	border-right: 1px solid rgba(255, 255, 255, 0.7);
}

.description {
	padding-left: 30px;
}

.form>h1 {
	text-align: center;
	margin: 0 0 15px 0;
	font-size: 26pt;
	font-weight: 700;
}

.login-buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 0 auto 15px auto;
}

.login-buttons>a {
	display: block;
	width: 140px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 14pt;
	color: white;
	text-decoration: none;
}

.login-buttons>a.active {
	text-decoration: underline;
}

.login-buttons>a:hover {
	text-decoration: underline;
}

.login-buttons>a#login {
	border-right: 1px solid rgba(255, 255, 255, 0.7);
}

.form>form>input[type=text], .form>form>input[type=password], .form>form>input[type=email] {
	width: 100%;
	border: none;
	outline: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
	background-color: inherit;
	padding: 10px 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	margin-bottom: 20px;
	color: rgba(255, 255, 255);
	font-size: 14pt;
}

.form>form>input[type=text]::-webkit-input-placeholder, .form>form>input[type=password]::-webkit-input-placeholder, .form>form>input[type=email]::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.7);
	font-size: 14pt;
}

.form>form>input[type=text]::-moz-placeholder, .form>form>input[type=password]::-moz-placeholder, .form>form>input[type=email]::-moz-placeholder {
	color: rgba(255, 255, 255, 0.7);
	font-size: 14pt;
}

.form>form>input[type=text]:-ms-input-placeholder, .form>form>input[type=password]:-ms-input-placeholder, .form>form>input[type=email]:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.7);
	font-size: 14pt;
}

.form>form>input[type=text]::-ms-input-placeholder, .form>form>input[type=password]::-ms-input-placeholder, .form>form>input[type=email]::-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.7);
	font-size: 14pt;
}

.form>form>input[type=text]::placeholder, .form>form>input[type=password]::placeholder, .form>form>input[type=email]::placeholder {
	color: rgba(255, 255, 255, 0.7);
	font-size: 14pt;
}

.form>form>input[type=text]:focus, .form>form>input[type=password]:focus, .form>form>input[type=email]:focus {
	outline: 0;
}

.form>form>input[type=submit] {
	width: 100%;
	outline: 0;
	border: none;
	color: white;
	background-color: rgba(255, 255, 255, 0.4);
	padding: 10px 0;
	text-align: center;
	border-radius: 20px;
	font-size: 14pt;
	font-weight: 700;
	cursor: pointer;
	margin-bottom: 10px;
}

.form>form>input[type=submit]:hover {
	outline: 1px solid white;
}

.form>form>.check_data>input[type=checkbox] {
	margin-bottom: 20px;
	-webkit-transform: scale(1.3);
	    -ms-transform: scale(1.3);
	        transform: scale(1.3);
	background-color: inherit;
}

.form>form>.check_data {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.form>form>.check_data>label {
	font-size: 10pt;
	color: rgba(255, 255, 255, 0.7);
	font-weight: 500;
	margin-bottom: 20px;
	margin-left: 5px;
}

.form-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	font-size: 10pt;
}

.description {
	font-size: 10pt;
}

.footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100px;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.footer>p {
	margin: auto 0;
	font-size: 12pt;
	margin-right: 20px;
}

.footer>p#telephone {
	font-weight: 500;
}

.footer>a#email {
	font-size: 12pt;
	margin-right: 20px;
	margin-left: 0px;
}

.footer>img {
	margin: auto 0;
	margin-left: auto;
}

.footer>a {
	margin: auto 0;
	margin-left: 20px;
	font-size: 12pt;
}

.content-edit-player {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	min-height: calc(100vh - 262px);
	margin: 0 auto;
	min-width: 660px;
	padding: 30px 0;
}

.content-edit-player>h1 {
	text-align: center;
	font-size: 40pt;
	font-weight: 700;
	margin: 0;
	margin-bottom: 10px;
}

.svg_player>object {
	display: block;
	margin: 0 auto;
}

.colors {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

.colors>div, .colors>input {
	width: 75px;
	height: 75px;
	margin: 0 20px;
	cursor: pointer;
}

.colors>input {
	-webkit-appearance: none;
	border: none;
	padding: 0;
	background-color: #fff;
}

.colors>input::-webkit-color-swatch-wrapper {
	padding: 0;
}

.colors>input::-webkit-color-swatch {
	border: none;
	background-color: white !important;
	background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            	linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            	linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

.colors>input::-moz-color-swatch {
	border: none;
	background-color: white !important;
	background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            	linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            	linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

.colors>.active {
	outline: 10px solid white;
	width: 55px;
	height: 55px;
	margin: 0 30px;
	margin-top: 10px;
}

.play-button {
	width: 50%;
	margin: 0 auto;
	padding: 15px 0;
	text-align: center;
	font-size: 20pt;
	font-weight: 700;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 50px;
	cursor: pointer;
}
.play-button:hover {
	outline: 1px solid white;
}

.game-header {
	height: 50px;
	border: none;
}

.game-header>p {
	font-size: 8pt;
}

.game-header>.login>#login {
	font-size: 14pt;
	margin-left: 5px;
}

.game-footer {
	height: 50px;
	border: none;
}

.game>canvas {
	height: calc(100vh - 104px) !important;
}

#dialogue_container {
	display: none;
	position: absolute;
	bottom: 54px;
	width: 100%;
}

.dialogue-body {
	height: 220px;
	margin: 15px 40px;
	display: flex;
	flex-direction: column;
}

#dialogue-head {
	margin-bottom: 5px;
}

#number-question {
	font-size: 14pt;
	font-weight: 700;
	margin: 0;
}

#question {
	margin: 0;
	font-size: 18pt;
	font-weight: 500;
	margin-right: 170px;
}

#answers {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: auto 0;
	margin-right: 170px;
	min-height: 100px;
	height: auto;
}

#answers>div {
	font-size: 18pt;
	margin-right: 50px;
}

#answers>div>input[type=checkbox] {
	position: absolute;
  z-index: -1;
  opacity: 0;
}

#answers>div>input[type=checkbox]+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* стили при наведении курсора на checkbox */
#answers>div>input[type=checkbox]:not(:disabled):not(:checked)+label:hover::before {
  border-color: rgba(256, 256, 256, 0.7);
}

#answers>div>input[type=checkbox]+label::before {
	content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #ffffff;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

#answers>div>input[type=checkbox]:checked+label::before {
  border-color: #ffffff;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23167CF2' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

#answers>div>input[type=radio] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label связанного с .custom-radio */
#answers>div>input[type=radio]+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
#answers>div>input[type=radio]+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на радио */
#answers>div>input[type=radio]:not(:disabled):not(:checked)+label:hover::before {
  border-color: rgba(256, 256, 256, 0.7);
}

/* стили для радиокнопки, находящейся в состоянии checked */
#answers>div>input[type=radio]:checked+label::before {
  border-color: #ffffff;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23167CF2'/%3e%3c/svg%3e");
}

#answers>input[type=text] {
	height: 30px;
	outline: none;
	margin: auto 0;
}

#dialogue {
	width: calc(100% - 160px);
	background-color: #167CF2;
	height: 250px;
	margin: 0 auto;
	border: 1px solid black;
	border-radius: 10px;
}

#teacher-name {
	background-color: #167CF2;
	margin-bottom: 5px;
	margin-left: 80px;
	height: 30px;
	padding: 10px 0;
	width: 25%;
	text-align: center;
	line-height: 30px;
	font-size: 22pt;
	font-weight: 700;
	border: 1px solid black;
	border-radius: 10px;
}

#buttons {
	width: 25%;
	min-width: 350px;
	display: flex;
	margin-top: 5px;
	/*height: 30px;*/
	margin-left: auto;
	margin-right: 80px;
	margin-bottom: 10px;
}

#buttons>div {
	padding: 10px 0;
	background-color: #167CF2;
	width: 50%;
	text-align: center;
	line-height: 30px;
	font-size: 22pt;
	font-weight: 700;
	margin-left: 5px;
	border: 1px solid black;
	border-radius: 10px;
	cursor: pointer;
}

#buttons>div:hover {
	background-color: #156BCD;
}

#teacher-img {
	position: absolute;
	right: 10px;
	bottom: 70px;
}
